.input-wrapper {
  position: relative;
}
.input-wrapper .custom-input {
  height: 35px;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
  width: 300px;
  border: 1px solid #d9dce1;
  border-radius: 2px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #3b3a3e;
  caret-color: #3b3a3e;
  cursor: default;
}
.input-wrapper .custom-input:hover {
  cursor: default;
  border-color: #65a0d6;
  transition: 0.3s ease-out;
}
.input-wrapper .custom-input:focus {
  cursor: text;
  border-color: #3b3a3e;
  outline: none;
}
.input-wrapper .custom-input::placeholder {
  color: #65a0d6;
}
.input-wrapper .custom-input:hover::placeholder {
  color: #d9dce1;
}
.input-wrapper .custom-input:focus::placeholder {
  color: transparent;
}
.input-wrapper .validate-error {
  position: absolute;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #ff5722;
}
.input-wrapper.errors-container .custom-input {
  border: 1px solid #ff5722;
}
.input-wrapper.errors-container .custom-input::placeholder {
  color: #d9dce1;
}
