.home {
  display: flex;
  flex-direction: row;
  margin: 50px 0;
}

.home__search-section {
  padding-right: 100px;
}

.home__search-section .movie-shown {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 30px;
  max-width: 300px;
  overflow: hidden;
  word-break: break-word;
  border: 1px solid #d9dce1;
  border-radius: 2px;
  line-height: 20px;
  background-color: rgba(131, 131, 131, 0.2);
}

.home__search-section .movie-shown__title {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #d9dce1;
}

.home__movies-list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  padding-left: 50px;
  width: 100%;
  border-left: 1px solid #d9dce1;
  line-height: 20px;
}

.home__movies-list .movie-wrapper {
  position: relative;
  margin-bottom: 20px;
  padding: 25px 15px 15px 15px;
  width: 200px;
  max-height: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #d9dce1;
  border-radius: 2px;
  cursor: pointer;
}

.home__movies-list .movie-wrapper:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(131, 131, 131, 0.2);
  opacity: 0;
  z-index: 2;
}

.home__movies-list .movie-wrapper:hover:before {
  opacity: 1;
  transition: 0.3s ease-out;
}

.home__movies-list .movie-wrapper__movie {
  overflow: hidden;
  word-break: break-word;
  padding: 10px 0;
  border-top: 1px solid #d9dce1;
}

.home__movies-list .movie-wrapper__icon {
  position: absolute;
  top: 5px;
  right: 20px;
  cursor: pointer;
  z-index: 2;
}

.home__movies-list .there-are-no-movies {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 16px;
}
