.header {
  display: flex;
  position: fixed;
  justify-content: center;
  width: 100%;
  min-height: 70px;
  margin: 0;
  background-color: #65a0d6;
  box-shadow: 0 5px 5px #888888;
  z-index: 5;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 100px;
}
.header__container .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  cursor: pointer;
}
.header__container .logo__title {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.header__item {
  display: flex;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  letter-spacing: 0.5px;
}
.header__item:hover {
  color: #d9dce1;
}
